  body {
      background-color: lightblue;
      font-size: 150%;
    }
    
    .myClass {
      background-color: gray;
      color: blue
    }

.myClass {
  background-color:blue;
  border:red 50px solid;
  font-size:50pt;
}